<a href="data">Go back</a>
<h1>Aphid</h1>
<form class="" action="submit" method="post">
  <input type="text" name="category" value="aphid" hidden>
  <label for="plant_id">Plant ID: </label>
  <input type="number" name="plant_id" min="1" max="35" required>
  <br>

  <label for="day">Days since experiment began: </label>
  <input type="number" name="day" value="{{daysSince}}" min="0" max="20" required>
  <br>

  <label for="location">Where is the aphid located? </label>
  <select class="" id="" name="location" required>
    <option value="soil">Soil</option>
    <option value="base">Base</option>
    <option value="stem">Stem</option>
    <option value="leaf-under">Leaf (Underneath)</option>
    <option value="leaf-over">Leaf (On top)</option>
    <option value="tip">Tip</option>
  </select>
  <br>

  <input type="submit" name="submit" value="Submit">
</form>
