<h1>{{title}}</h1>

<form class="login-form" action="category" method="post">
  <label for="category">What are you recording?</label>
  <select class="" id="category-dropdown" name="category">
    <option value="plant">Plant</option>
    <option value="leaf">Leaf</option>
    <option value="aphid">Aphid</option>
  </select>
  <input type="submit" name="submit-form" value="Submit">
</form>
