<a href="data">Go back</a>
<h1>General Observations</h1>
<form class="" action="submit" method="post">
  <input type="text" name="category" value="general" hidden>
  <p><i>To make an observation about all plants, put the plant id as: 0</i></p>
  <label for="plant_id">Plant ID: </label>
  <input type="number" name="plant_id" min="0" max="35" required>
  <br>

  <label for="day">Days since experiment began: </label>
  <input type="number" name="day" value="{{daysSince}}" min="0" max="20" required>
  <br>

  <label for="observation">General Observations: </label>
  <textarea name="observation" value="" required>
  </textarea>

  <input type="submit" name="submit" value="Submit">
</form>
