<h1>{{title}}</h1>
<p>Please choose which user you are:</p>
<form class="login-form" action="data" method="post">
  <select class="" id="user-dropdown" name="user">
    <option value="alun">Alun</option>
    <option value="mehrunnisa">Mehrunnisa</option>
    <option value="katarina">Katarina</option>
    <option value="juliette">Juliette</option>
    <option value="serena">Serena</option>
  </select>
  <input type="submit" name="submit-form" value="Submit">
</form>
