<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="text-align: center; float: top">{{user}}</h1>
    <a href="/"> <p style="text-align: right; float: top">Home</p> </a>
    <a href="/edit"> <p style="text-align: right; float: top">Edit Data</p> </a>
    {{{body}}}
  </body>
</html>
