<a href="data">Go back</a>
<h1>Plant</h1>

<form class="" action="submit" method="post">
  <input type="text" name="category" value="plant" hidden>
  <label for="plant_id">Plant ID: </label>
  <input type="number" name="plant_id" min="1" max="35" required>
  <br>

  <label for="day">Days since experiment began: </label>
  <input type="number" name="day" value="{{daysSince}}" value="0" min="0" max="20" required>
  <br>

  <label for="plant_height">Plant height (cm): </label>
  <input type="number" step="0.0001" name="plant_height" min="0" max="1000" required>
  <br>

  <label for="stem_width">Stem width at base (cm): </label>
  <input type="number" step="0.0001" name="stem_width" min="0" max="10" required>
  <br>

  <label for="splint">Does the plant have a splint? </label>
  <select class="" id="" name="splint" required>
    <option value="0">No</option>
    <option value="1">Yes</option>
  </select>
  <br>

  <label for="n_conc">Nitrogen Concentration (M) - not required: </label>
  <input type="number" step="0.0001" name="n_conc" min="0" max="10">
  <br>

  <input type="submit" name="submit" value="Submit">
</form>
