<a href="data">Go back</a>
<h1>Plant</h1>

<form class="" action="submit" method="post">
  <input type="text" name="category" value="plant" hidden>
  <label for="plant_id">Plant ID: </label>
  <input type="number" name="plant_id" value="1" min="1" max="35" required>
  <br>

  <label for="days">Days since experiment began: </label>
  <input type="number" name="days" value="0" min="0" max="20" required>
  <br>

  <label for="plant_height">Plant height (cm): </label>
  <input type="number" name="plant_height" value="0" min="0" max="1000" required>
  <br>

  <label for="stem_width">Stem width at base (cm): </label>
  <input type="number" name="stem_width" value="0" min="0" max="10" required>
  <br>

  <label for="splint">Does the plant have a splint? </label>
  <select class="" id="" name="splint" required>
    <option value="false">No</option>
    <option value="true">Yes</option>
  </select>
  <br>

  <label for="nitrogen_concentration">Nitrogen Concentration (M) - not required: </label>
  <input type="number" name="nitrogen_concentration" value="" min="0" max="10">
  <br>

  <input type="submit" name="submit" value="Submit">
</form>
